@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=VT323&display=swap');

body {
  background-image: radial-gradient(rgba(4, 52, 107, 0.4) 1px, transparent 0);
    background-size: 40px 40px;
  background-position: -19px -19px;
  background-color: #000a18;
  font-family: 'Rajdhani', sans-serif;
  color: rgb(194, 230, 222);
}

.App {
display: flex;
width: 100%;
}

main{
  padding: 20px;
  margin-top: 50px;
  width: 100%;

}

text, tspan {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-variant: small-caps;
}

h1 {
  text-align: center;
}

.SvgBox {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}