@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=VT323&display=swap');

body {
  background-image: radial-gradient(rgba(4, 52, 107, 0.4) 1px, transparent 0);
    background-size: 40px 40px;
  background-position: -19px -19px;
  background-color: #000a18;
  font-family: 'Rajdhani', sans-serif;
  color: rgb(194, 230, 222);
}

.App {
display: flex;
width: 100%;
}

main{
  padding: 20px;
  margin-top: 50px;
  width: 100%;

}

text, tspan {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  font-variant: small-caps;
}

h1 {
  text-align: center;
}

.SvgBox {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.path-ani {
  animation: draw 10s infinite;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}


.info-container {
  position: absolute;
  top: 100px;
  left: 800px;
  z-index: 999;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 100%; 
  transform: translate(0, -50%);
}

.endcap {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: calc(200% - 4px);
  transform: translate(0, -50%);
}

.rect {
  background-color: transparent;
  border: 2px solid #fff;
  width: 100px;
  height: 30px;
  position: relative;
  border-radius: 10px;
}

.info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
