.Content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(0, 92, 122, 0.2) 0%, rgba(1,32,60,0.5) 80%);
    border: 1px solid rgba(1, 35, 46, 0.2);
    border-radius: 20px;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    box-shadow: inset 0 2px 2px rgba(81, 198, 233, 0.8),
    inset 0 -4px 0px rgba(10, 58, 129, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.3),
    0 2px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #0a121e;
    padding: 10px;
}